.centerTheButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.loadmore-btn {
  border: none;
  padding: 7px 15px;
  background-color: #16a34a;
  color: #fff;
  cursor: pointer;
}

.info-data h6 {
  font-size: 17px;
  text-align: center;
}
